@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

a {
  color: var(--dark-color);
}

:root {
  --success-color: #00AA2E;
  --dark-color: #222222;
  --secondary-color: #B8B8B8;
  --white-color: #ffffff;
  --danger-color: #FE1F13;
  --muted-color: #C4C4C4;
  --info-color: #8D8D8D;
}

.text-danger {
  color: var(--danger-color);
}

.text-black {
  color: var(--dark-color);
}

.text-white {
  color: var(--white-color);
}

.text-success {
  color: var(--success-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-muted {
  color: var(--muted-color);
}

.text-info {
  color: var(--info-color);
}

.text-10 {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.text-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.text-13 {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.text-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.text-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.text-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.title-24 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.title-28 {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.title-56 {
  font-weight: 500;
  font-size: 56px;
  line-height: 66px;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.btn-success-sign-up {
  color: var(--success-color);
  border: 2px solid var(--success-color);
  padding: 5px 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 8px;
}

.btn-success {
  background: var(--success-color);
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  min-width: 96px;
  padding: 8px;
  border: 1px solid #00AA2E;
}

.btn-success:hover {
  background: transparent;
  color: var(--success-color);
}

.btn-success-outline {
  background: transparent;
  border-radius: 8px;
  border: 1px solid #00AA2E;
  color: var(--success-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  min-width: 96px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-success-outline .btn-success-outline__icon-wrapper {
  width: 18px;
  height: 18px;
  border: 1px solid #00AA2E;
  border-radius: 50%;
}

.btn-success-outline .btn-success-outline__icon-wrapper svg {
  width: 10px;
  height: 10px;
}

.btn-danger {
  background: var(--danger-color);
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 8px;
  min-width: 132px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-danger:hover {
  background: #DB1B10;
}

.btn-success-transparent {
  border: none;
  text-decoration: underline;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--success-color);
  text-align: right;
}

.btn-cart-success {
  background: #00AA2E;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  min-width: 200px;
  padding: 16px 8px;
  width: 100%;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-cart-success:hover {
  color: var(--success-color);
  background: transparent;
  -webkit-box-shadow: 0 0 0 1px var(--success-color);
          box-shadow: 0 0 0 1px var(--success-color);
}

.btn-big-success {
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 19px 8px;
  width: 100%;
  background-color: var(--success-color);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-big-success:hover {
  background-color: transparent;
  color: var(--success-color);
  -webkit-box-shadow: 0 0 0 1px var(--success-color);
          box-shadow: 0 0 0 1px var(--success-color);
}

.btn-big-success-outline {
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--success-color);
  border: 1px solid #00AA2E;
  padding: 19px 8px;
  width: 100%;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-big-success-outline:hover {
  background-color: var(--success-color);
  color: #fff;
}

.btn-white-outline {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 8px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  color: var(--white-color);
}

button.slick-arrow {
  width: 28px;
  height: 28px;
  border-radius: 250px;
  background: var(--success-color);
  font-size: 0;
  cursor: pointer;
}

button.slick-next {
  background: url("../img/icons/right-white.svg") center center/15px no-repeat, var(--success-color);
}

button.slick-prev {
  background: url("../img/icons/left-white.svg") center center/15px no-repeat, var(--success-color);
}

[class^=_icon-]:before,
[class*=" _icon-"]:before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.pseudo__placeholder {
  position: absolute;
  top: 3px;
  left: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 8px;
  font-size: 16px;
  color: var(--muted-color);
  padding: 10px 20px 10px 40px;
  pointer-events: none;
  -ms-touch-action: none;
      touch-action: none;
}

.select__item-choosen .pseudo__placeholder {
  display: none;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  position: absolute;
  left: 0;
  top: 45px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(34, 34, 34, 0.15);
          box-shadow: 0px 4px 20px rgba(34, 34, 34, 0.15);
  border-radius: 12px;
  width: 100%;
  max-height: 303px;
  overflow-y: auto;
}

.select__options::-webkit-scrollbar {
  width: 4px;
  height: 64px;
}

.select__options::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 50%;
}

.select__options::-webkit-scrollbar-thumb {
  background-color: var(--success-color);
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: inherit;
  font-size: 18px;
  color: var(--dark-color);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 8px 44px;
  transition: all 0.3s ease 0s;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-20 {
  font-size: 20px;
}

.header {
  background: #F7F7F7;
}

.header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-link {
  width: 28px;
  height: 28px;
  background-color: var(--success-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.header__social-link:hover {
  background: #000;
}

.header__social-link svg {
  width: 17px;
  height: 17px;
}

.header__social-link-telegram svg {
  width: 17px;
  height: 14px;
}

.header__social-link-instagram svg {
  height: 17px;
  width: 18px;
}

.header__social-link-youtube svg {
  width: 17px;
  height: 12px;
  fill: var(--white-color);
}

.header__social-link-vk svg {
  width: 18px;
  height: 10px;
}

.header__location-icon svg {
  width: 24px;
  height: 24px;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 31px;
}

.header__location-text {
  max-width: 140px;
  margin-left: 4px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__number-digits:hover {
  color: var(--success-color);
}

.header__number-text {
  margin-left: 12px;
  max-width: 100px;
}

.header__social-item:not(:last-child) {
  margin-right: 8px;
}

.header__middle {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__city {
  margin: 0 32px;
}

.header__city-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__city-title span {
  margin-right: 4px;
}

.header__city-title svg {
  width: 16px;
  height: 16px;
}

.header__search .search-icon {
  fill: transparent;
  stroke: var(--success-color);
}

.search {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__search .search-input:focus {
  outline: none;
  background: rgba(0, 170, 46, 0.1);
  border: 1px solid #C4C4C4;
}

.search-input {
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 15px;
  width: 100%;
}

.header__information-icon svg {
  width: 28px;
  height: 28px;
}

.header__number:last-child {
  margin-left: 31px;
}

.header__information-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__information-item:not(:last-child) {
  margin-right: 16px;
}

.header__information-text {
  margin-top: 4px;
}

.header__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 36px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.header__favorite-icon-wrapper svg {
  width: 28px;
  height: 28px;
  stroke: var(--danger-color);
  fill: transparent;
}

.header__favorite-text {
  margin-top: 4px;
}

.header__favorite {
  background: #D9DADB;
  border-radius: 8px;
  padding: 22px 20px 18px;
  cursor: pointer;
}

.header__favorite-icon-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__favorite-count {
  position: absolute;
  top: -3px;
  right: 2px;
  border-radius: 50%;
  background-color: var(--danger-color);
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__block-with-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}

.header__cart {
  background-color: var(--success-color);
  border-radius: 8px;
  padding: 24px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
}

.header__cart svg {
  width: 32px;
  height: 28px;
}

.header__cart .header__cart-icon-wrapper {
  position: relative;
}

.header__cart .header__cart-text-wrapper {
  margin-left: 37px;
}

.header__cart .header__cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  border-radius: 50%;
  background-color: var(--danger-color);
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__catalog-btn-icon {
  width: 24px;
  height: 24px;
}

.header__catalog-btn {
  border: 2px solid var(--success-color);
  border-radius: 8px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__catalog-btn-text {
  margin-left: 16px;
}

.header__nav-link {
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-color);
  padding: 0 6px;
}

.header__nav-link:hover {
  color: var(--success-color);
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list li {
  margin-right: 35px;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  margin-left: 40px;
}

.header__user {
  font-size: 16px;
  color: var(--success-color);
}

.header__sign-up {
  margin-left: 8px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__sign-up:hover {
  background: var(--success-color);
  color: #fff;
}

.header__catalog-btn-close {
  width: 14px;
  height: 14px;
  display: none;
  stroke: #fff;
}

.header__catalog-btn--active {
  background: var(--success-color);
}

.header__catalog-btn--active .header__catalog-btn-icon {
  display: none;
}

.header__catalog-btn--active .header__catalog-btn-close {
  display: block;
}

.header__catalog-btn--active .header__catalog-btn-text {
  color: var(--white-color) !important;
}

.header__bottom {
  position: relative;
}

.header__catalog {
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 10;
  max-width: 264px;
  width: 100%;
  display: none;
}

.header__catalog-list {
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
          box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
  border-radius: 12px;
}

.header__catalog-list .header__catalog-item {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.header__catalog-list .header__catalog-item:first-child {
  border-radius: 12px 12px 0 0;
}

.header__catalog-list .header__catalog-item:last-child {
  border-radius: 0 0 12px 12px;
}

.header__catalog-list .header__catalog-item:hover {
  background-color: rgba(0, 170, 46, 0.1);
}

.header__catalog-list .header__catalog-item:hover .header__dropdown-list {
  display: block;
}

.header__catalog-list .header__catalog-item:not(:last-child) .header__catalog-link {
  border-bottom: 1px solid #D9DADB;
}

.catalog--active .header__catalog {
  display: block;
}

.header__catalog-link {
  color: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__catalog-link svg {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 12px;
}

.header__catalog-btn-wrapper {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__dropdown-list {
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
          box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
  border-radius: 12px;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  max-width: 264px;
  width: 100%;
  display: none;
}

.header__dropdown-list .header__dropdown-item {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.header__dropdown-list .header__dropdown-item:hover {
  background-color: rgba(0, 170, 46, 0.1);
}

.header__dropdown-list .header__dropdown-item:not(:last-child) .header__dropdown-link {
  border-bottom: 1px solid #D9DADB;
}

.header__dropdown-link {
  color: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__dropdown-link svg {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 12px;
}

.header__cart {
  cursor: pointer;
  position: relative;
}

.header__cart::before {
  content: "";
  position: absolute;
  height: 21px;
  width: 100%;
  bottom: -20px;
  left: 0;
}

.header__cart:hover .header__cart-block {
  display: block;
}

.header__cart-block {
  position: absolute;
  right: -6px;
  top: 97px;
  z-index: 10;
  background: #FFFFFF;
  -webkit-box-shadow: 0 12px 25px rgba(34, 34, 34, 0.15);
          box-shadow: 0 12px 25px rgba(34, 34, 34, 0.15);
  border-radius: 12px;
  min-width: 492px;
  width: 100%;
  display: none;
}

.header__cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 24px;
  position: relative;
}

.header__cart-item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 16px;
  background-color: #C4C4C4;
  width: calc(100% - 32px);
}

.header__cart-span {
  margin-bottom: 4px;
  display: inline-block;
}

.header__cart-close {
  width: 18px;
  height: 18px;
  border: 1px solid #B8B8B8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}

.header__cart-close svg {
  width: 8px;
  height: 8px;
  fill: #B8B8B8;
  stroke: #B8B8B8;
}

.header__cart-name {
  max-width: 220px;
  margin-right: 16px;
}

.header__cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.header__cart-img-wrapper {
  width: 77px;
  height: 77px;
  position: relative;
  margin-right: 24px;
}

.header__cart-img-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__cart-bottom {
  padding: 30px 24px;
  background: rgba(0, 170, 46, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__cart-clear {
  margin-top: 12px;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 14px;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  background: #20262C;
  padding-top: 52px;
  padding-bottom: 72px;
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 8px;
}

.footer__contacts-text {
  opacity: 0.5;
  margin-top: 12px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__list {
  padding: 0 8px;
}

.footer__list .footer__item:not(:last-child) {
  margin-bottom: 22px;
}

.footer__list:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
}

.footer__list:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer__item-link {
  color: var(--white-color);
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer__item-link:hover {
  opacity: 1;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.footer__search svg {
  fill: transparent;
  stroke: #20262C;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 32px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-list .footer__social-item:not(:last-child) {
  margin-right: 12px;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-link:hover {
  opacity: 0.7;
}

.footer__info a {
  color: var(--white-color);
  opacity: 0.5;
}

.footer__social-link-telegram svg {
  width: 27px;
  height: 22px;
  position: relative;
  right: 3px;
}

.footer__social-link-instagram svg {
  width: 27px;
  height: 22px;
}

.footer__search-and-social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 8px;
}

.footer__social-link-youtube svg {
  width: 27px;
  height: 27px;
}

.footer__social-link-facebook svg {
  width: 14px;
  height: 28px;
}

.footer__social-link-vk svg {
  width: 28px;
  height: 16px;
}

.footer__can-buy {
  margin-top: 23px;
}

.footer__contacts-email {
  margin-top: 25px;
}

.book {
  background-color: #f7f7f7;
}

.book__body {
  padding-top: 24px;
  padding-bottom: 72px;
}

.book__title {
  margin-top: 28px;
  margin-bottom: 28px;
}

.section-book__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.section-book__descr-container {
  padding: 28px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
}

.section-book__descr-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-color);
  padding-bottom: 28px;
  border-bottom: 1px solid var(--muted-color);
}

.section-book__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  counter-reset: css-counter -1;
}

.section-book__list h3 {
  margin-bottom: 32px;
  margin-top: 32px;
  color: var(--success-color);
  font-size: 16px;
}

.section-book__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  counter-increment: css-counter 1;
}

.section-book__list li::before {
  content: "§" " " counter(css-counter) ". ";
}

.section-book__img-container {
  padding: 28px 70px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-book__img-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.section-book__buy {
  padding: 20px 73px;
  color: #fff;
  background-color: var(--success-color);
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid var(--success-color);
}

.section-book__read {
  padding: 20px 73px;
  background-color: #fff;
  color: var(--success-color);
  border: 1px solid var(--success-color);
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.breadcrumbs {
  background: #F7F7F7;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__list li {
  position: relative;
  padding-right: 18px;
}

.breadcrumbs__list li:not(:last-child)::before {
  content: "/";
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  color: var(--info-color);
  right: 5px;
  top: 0;
  position: absolute;
}

.calendar {
  background-color: #f7f7f7;
}

.calendar__body {
  padding-top: 24px;
  padding-bottom: 72px;
}

.calendar__intro {
  margin-top: 28px;
}

.calendar__img {
  margin-top: 24px;
}

.calendar__influence {
  margin-top: 24px;
}

.calendar__instruction {
  margin-top: 24px;
}

.calendar__recomendations {
  margin-top: 24px;
}

.calendar__intro-title {
  margin-bottom: 28px;
}

.calendar__intro-card {
  background-color: #fff;
  padding: 12px 112px 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.calendar__intro-card::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: rgba(0, 170, 46, 0.1);
  right: -230px;
  top: -65px;
  z-index: -1;
}

.calendar__intro-descr {
  max-width: 505px;
  font-size: 20px;
  color: var(--dark-color);
}

.calendar__img {
  background-color: #fff;
  padding: 48px 185px;
  border-radius: 12px;
}

.calendar__img-container {
  width: 758px;
  height: 1072px;
  margin-bottom: 48px;
}

.calendar__img-container img {
  -o-object-fit: contain;
     object-fit: contain;
}

.calendar__img-download {
  text-align: center;
  display: block;
  max-width: 264px;
  margin: 0 auto;
  background-color: var(--success-color);
  color: #fff;
  border-radius: 8px;
  padding: 20px 8px;
  outline: 1px solid var(--success-color);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

.calendar__influence {
  padding: 28px 28px 48px 28px;
  background-color: #fff;
  border-radius: 12px;
}

.calendar__influence-title {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--muted-color);
}

.calendar__influence-descr {
  margin-top: 28px;
  max-width: 785px;
  font-size: 16px;
  color: var(--dark-color);
}

.calendar__influence-part:not(:last-child) {
  margin-bottom: 23px;
}

.calendar__influence-list {
  padding-left: 25px;
}

.calendar__influence-list li {
  list-style-type: disc;
}

.calendar__instruction {
  padding: 28px 28px 48px 28px;
  background-color: #fff;
  border-radius: 12px;
}

.calendar__instruction-title {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--muted-color);
}

.calendar__instruction-descr {
  margin-top: 28px;
  max-width: 785px;
  font-size: 16px;
  color: var(--dark-color);
}

.calendar__instruction-part:not(:last-child) {
  margin-bottom: 23px;
}

.calendar__instruction-list {
  padding-left: 25px;
}

.calendar__instruction-list li {
  list-style-type: disc;
}

.calendar__recomendations {
  padding: 28px 28px 48px 28px;
  background-color: #fff;
  border-radius: 12px;
}

.calendar__recomendations-title {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--muted-color);
}

.calendar__recomendations-descr {
  margin-top: 28px;
  max-width: 785px;
  font-size: 16px;
  color: var(--dark-color);
}

.calendar__recomendations-part:not(:last-child) {
  margin-bottom: 23px;
}

.calendar__recomendations-list {
  padding-left: 25px;
}

.calendar__recomendations-list:not(:last-child) {
  margin-bottom: 26px;
}

.calendar__recomendations-list li {
  list-style-type: disc;
}

.section-purchase {
  padding: 50px 0;
}

.search-input__wrap {
  position: relative;
}

.search-input__select {
  position: absolute;
  left: 0;
  top: 45px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(34, 34, 34, 0.15);
          box-shadow: 0px 4px 20px rgba(34, 34, 34, 0.15);
  border-radius: 12px;
  width: 100%;
  max-height: 303px;
  overflow-y: auto;
}

.search-input__select::-webkit-scrollbar {
  width: 4px;
  height: 64px;
}

.search-input__select::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 50%;
}

.search-input__select::-webkit-scrollbar-thumb {
  background-color: var(--success-color);
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.search-input__item {
  font-size: 18px;
  color: var(--dark-color);
  padding: 8px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 8px 44px;
}

.purchase {
  background-color: #f7f7f7;
}

.purchase-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase-body__buy {
  padding: 20px 73px;
  border-radius: 12px;
  background-color: var(--success-color);
  color: #fff;
  text-align: center;
  font-size: 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  outline: 1px solid var(--success-color);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.purchase-body__bold {
  font-weight: 500;
}

.purchase-body__column-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.purchase-body__column-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  margin-right: 30px;
}

.purchase-body__box {
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 40px 30px;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(34, 34, 34, 0.15));
          filter: drop-shadow(0px 4px 20px rgba(34, 34, 34, 0.15));
  border-radius: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 30px;
}

.purchase-body__box-select {
  z-index: 2;
}

.purchase-body__box .heading-body {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #C4C4C4;
}

.purchase-body__box .heading-body .heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #222222;
}

.purchase-body__box .heading-body .heading .green {
  color: var(--success-color);
}

.purchase-body__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.purchase-body__footer button {
  width: auto;
  min-width: 260px;
}

.purchase-body .search-input__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.purchase-body .search-input__wrap input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  font-size: 16px;
  color: var(--dark-color);
  padding: 10px 20px 10px 40px;
}

.purchase-body .search-input__wrap input::-webkit-input-placeholder {
  font-size: 16px;
  color: var(--dark-color);
}

.purchase-body .search-input__wrap input::-moz-placeholder {
  font-size: 16px;
  color: var(--dark-color);
}

.purchase-body .search-input__wrap input:-ms-input-placeholder {
  font-size: 16px;
  color: var(--dark-color);
}

.purchase-body .search-input__wrap input::-ms-input-placeholder {
  font-size: 16px;
  color: var(--dark-color);
}

.purchase-body .search-input__wrap input::placeholder {
  font-size: 16px;
  color: var(--dark-color);
}

.purchase-body .search-input__wrap input:focus {
  outline: 1px solid var(--success-color);
}

.purchase-body .search-input__wrap .icon {
  position: absolute;
  top: 8px;
  left: 10px;
}

.purchase-body .search-input__wrap .description {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #C4C4C4;
  margin-top: 5px;
}

.purchase-body .description-text {
  margin-bottom: 20px;
}

.description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C4C4C4;
}

.delivery__error {
  padding: 24px;
  border-radius: 12px;
  background-color: var(--secondary-color);
  font-size: 12px;
  color: #fff;
  margin-bottom: 25px !important;
  margin-left: 40px !important;
  max-width: 616px;
}

.delivery__error span {
  font-weight: 700;
}

.delivery__tabs-error {
  padding: 24px;
  border-radius: 12px;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.delivery__tabs .tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery__tabs .tabs__navigation button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
  background: transparent;
  border: none;
  text-transform: unset;
}

.delivery__tabs .tabs__navigation button._tab-active {
  -webkit-box-shadow: 0 2px 0 0 var(--success-color);
          box-shadow: 0 2px 0 0 var(--success-color);
  color: var(--success-color);
}

.delivery__tabs .tabs__navigation li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
  background: transparent;
  border: none;
  text-transform: unset;
}

.delivery__tabs .tabs__navigation li a.active {
  -webkit-box-shadow: 0 2px 0 0 var(--success-color);
          box-shadow: 0 2px 0 0 var(--success-color);
  color: var(--success-color);
}

.delivery__tabs .tabgroup {
  margin-top: 40px;
}

.tabgroup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.deliveries__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.deliveries__item:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.deliveries__item .heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #222222;
  margin-bottom: 20px;
}

.deliveries__item input {
  display: none;
}

.deliveries__item input:checked + label div:before {
  background: url("../img/icons/checked-white.svg") center center/10px no-repeat, var(--success-color);
}

.deliveries__item input:checked + label div .img-convert {
  border-color: var(--success-color);
}

.deliveries__item label {
  border-bottom: 1px solid #c4c4c4;
}

.deliveries__item label .label-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.deliveries__item label .label-content:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #00AA2E;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 8px;
  font-style: normal;
  border-radius: 2px;
  background: url("../img/icons/checked-white.svg") center center/0px no-repeat;
}

.deliveries__item label .label-content .img-convert {
  width: 100px;
  height: 70px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 20px;
}

.deliveries__item label .label-content .img-convert img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deliveries__item label .label-content .title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #222222;
  margin-right: auto;
  margin-left: 20px;
}

.deliveries__item label .label-content .title span {
  color: var(--success-color);
}

.deliveries__item label .label-content .days {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
}

.deliveries__item label .label-content .price {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #222222;
  margin-right: 30px;
  margin-left: 80px;
}

.purchase__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.purchase__bonus .title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  margin-bottom: 15px;
}

.purchase__bonus .bonus-limit {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00AA2E;
  margin-bottom: 20px;
}

.purchase__bonus-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.purchase__bonus-form .input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 79%;
          flex: 1 1 79%;
  background: #FFFFFF;
  border: 1px solid #00AA2E;
  border-radius: 8px;
  padding: 10px 20px;
}

.purchase__bonus-button {
  padding: 11px 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17%;
          flex: 1 1 17%;
  cursor: pointer;
}

.purchase__bonus .form-error {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FE1F13;
}

.green {
  color: var(--success-color);
}

.checkmark-push-body input {
  display: none;
}

.checkmark-push-body input:checked + label:before {
  background: url("../img/icons/checked-white.svg") center center/10px no-repeat, var(--success-color);
}

.checkmark-push-body label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #222222;
  cursor: pointer;
}

.checkmark-push-body label:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #00AA2E;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 8px;
  font-style: normal;
  border-radius: 2px;
  background: url("../img/icons/checked-white.svg") center center/0px no-repeat;
}

#purchase5 .purchase__ucontacts-col3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

#purchase5 .purchase__ucontacts-row {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.purchase__ucontacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.purchase__ucontacts .form-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
}

.purchase__ucontacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.purchase__ucontacts input,
.purchase__ucontacts textarea {
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  padding: 10px 20px;
}

.purchase__ucontacts textarea {
  width: 100%;
  min-height: 120px;
  resize: vertical;
}

.purchase__ucontacts .title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  margin-bottom: 12px;
}

.purchase__ucontacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.purchase__ucontacts-col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
}

.purchase__ucontacts-col1 input {
  width: 100%;
}

.purchase__ucontacts-col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  margin: 10px;
}

.purchase__ucontacts-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: calc(50% - 20px);
  margin: 10px;
}

.purchase__ucontacts-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
  max-width: 100%;
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.purchase__ucontacts-col6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  max-width: 100%;
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.purchase__ucontacts .heading-body {
  margin-top: 40px;
}

.order__table {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 25px rgba(34, 34, 34, 0.15);
          box-shadow: 0px 12px 25px rgba(34, 34, 34, 0.15);
  border-radius: 12px;
  padding: 40px 30px;
  overflow: hidden;
}

.order__table-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #222222;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #C4C4C4;
}

.order__table-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__table-list .item {
  padding: 20px 0 30px;
  margin: 10px 0;
  border-bottom: 1px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__table-list .item:last-child {
  margin-bottom: 0;
  border: none;
}

.order__table-list .item.sum {
  background: rgba(0, 170, 46, 0.1);
  margin-top: -10px;
  margin-bottom: -40px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 40px 30px;
}

.order__table-list .item.sum span {
  font-size: 24px;
  font-weight: 500;
}

.order__table-list .item .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.order__table-list .item .number {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
}

.sbp path {
  stroke: none !important;
}

.payments__item input {
  display: none;
}

.payments__item input:checked + label:before {
  background: url("../img/icons/checked-white.svg") center center/10px no-repeat, var(--success-color);
}

.payments__item input:checked + label .img-convert {
  border-color: var(--success-color);
}

.payments__item input:checked + label .img-convert path {
  stroke: var(--success-color);
}

.payments__item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.payments__item label:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #00AA2E;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-style: normal;
  border-radius: 2px;
  background: url("../img/icons/checked-white.svg") center center/0px no-repeat;
}

.payments__item label .img-convert {
  min-width: 98px;
  height: 70px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.payments__item label .img-convert path {
  stroke: #B8B8B8;
}

.payments__item label .title {
  font-style: normal;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 10px;
}

#payments-tabs .tabgroup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

#payments-tabs .payments__item {
  max-width: 240px;
}

.input-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-top: 10px;
  margin-bottom: 0;
}

.purchase-success-body p {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
}

.purchase-success-body .purchase-body__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tomain-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--success-color);
}

.order-number {
  border: 1px solid #00AA2E;
  border-radius: 8px;
  padding: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 30px;
}

.order-number_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1050px) {
  .header__nav-link {
    font-size: 14px;
  }

  .header__nav-list li {
    margin-right: 20px;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background-color: rgba(0, 170, 46, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .section-book__buy:hover {
    background-color: #fff;
    color: var(--success-color);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .section-book__read:hover {
    color: #fff;
    background-color: var(--success-color);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .calendar__img-download:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: var(--success-color);
    background-color: #fff;
  }

  .search-input__item:hover {
    background-color: rgba(0, 170, 46, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .purchase-body__buy:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    color: var(--success-color);
  }
}